form.feedback-form {
    display: grid;
    grid-template-columns: 6vw auto;
    align-items: center;
    font-size: 1.5vw;

    label {
        margin: 0.5vw;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        &.feedback-form__textarea-label {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-top: 1vw;
        }
    }
    input {
        box-sizing: border-box;
        margin: 0.5vw 0;
        padding: 0.5vw;
        width: 100%;
        
        &#feedback-form__name,
        &#feedback-form__e-mail {
            grid-column-start: 2;
            grid-column-end: 3;
            font-size: 1.3vw;
        }

        &[type='submit'] {
            grid-column-start: 1;
            grid-column-end: 3;

            width: fit-content;
            padding: 0.5vw 2vw;
        }
    }
    textarea {
        margin: 0.5vw 0;
        padding: 0.5vw;
        resize: none;

        grid-column-start: 1;
        grid-column-end: 3;

        font-size: 1.3vw;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    form.feedback-form {
        grid-template-columns: 15vw auto;
        font-size: 3.5vw;

        label {
            margin: 1vw;
            
            &.feedback-form__textarea-label {
                margin-top: 2vw;
            }
        }
        input {
            &#feedback-form__name,
            &#feedback-form__e-mail {
                margin: 1.5vw 0;
                padding: 2vw;
                font-size: 3vw;
            }

            &[type='submit'] {
                padding: 1.5vw 6vw;
            }
        }
        textarea {
            margin: 2vw 0;
            padding: 2vw;
            font-size: 3vw;
        }
    }
}

@media (max-width: 767px) {
    form.feedback-form {
        grid-template-columns: 22vw auto;
        font-size: 6vw;

        label {
            margin: 1vw;
            
            &.feedback-form__textarea-label {
                margin-top: 3vw;
            }
        }
        input {
            &#feedback-form__name,
            &#feedback-form__e-mail {
                margin: 1.5vw 0;
                padding: 2vw;
                font-size: 5vw;
            }

            &[type='submit'] {
                padding: 2vw 7vw;
            }
        }
        textarea {
            margin: 3vw 0;
            padding: 2vw;
            font-size: 5vw;
        }
    }
}