main section.main__news {
    margin: 3vw 10vw;

    a.main__news__link-to-news {
        display: block;
        margin-top: -5vw;
        padding-top: 3vw;
    }

    article.main__news__news-block {
        margin: 4vw 0;
        padding: 2vw;
        border: 0.8vw outset;

        &:nth-of-type(even) {
            border-color: darkred;
        }
        &:nth-of-type(odd) {
            border-color: cornflowerblue;
        }

        h2.main__news__news-block__title {
            margin: 1vw;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 2.5vw;
            font-weight: bold;
            text-transform: uppercase;
            color: darkred;
        }
        
        figure {
            margin: 0 0 0 2vw;
            float: right;
            text-align: center;

            img {
                width: 15vw;
            }
        }

        p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            &.main__news__news-block__text {
                margin: 1vw;
                text-indent: 3vw;
                text-align: justify;
                font-size: 1.5vw;
                color: black;
            }

            &.main__news__news-block__date {
                clear: both;
                margin: 1.7vw 0 0 0;
                text-align: right;
                text-decoration: overline;
                font-size: 1.7vw;
                color: #444444;
            }
        }
    }
}

@media (max-width: 800px) {
    main section.main__news {
        margin: 25px 15px;

        a.main__news__link-to-news {
            margin: -10px 0 -30px 0;
            padding-top: 20px;
        }

        article.main__news__news-block {
            margin: 30px 0;
            padding: 15px;
            border-width: 5px;

            h2.main__news__news-block__title {
                margin: 10px;
                font-size: 25px;
            }
    
            figure {
                margin: 10px;
                float: none;
    
                img {
                    width: 60%;
                }
            }
    
            p {
                &.main__news__news-block__text {
                    margin: 10px;
                    text-indent: 25px;
                    font-size: 20px;
                }
    
                &.main__news__news-block__date {
                    margin: 30px 0 0 0;
                    font-size: 25px;
                }
            }
        }
    }
}