main section.main__performances {
    margin: 3vw 10vw;
    
    article.main__performances__performance {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        margin: -3vw 1vw 1vw 1vw;
        padding: 5vw 1vw 1vw 1vw;
        
        figure {
            flex: 1 1 250px;
            margin: 1.5vw;
            text-align: center;

            img {
                width: 20vw;
            }
        }

        div.main__performances__performance__grid {
            flex: 5 1 250px;
            margin: 1vw 2vw;
            display: grid;
            grid-template-columns: auto auto;

            p, button {
                margin: 0.65vw;
            }

            p {
                &.main__performances__performance__grid__name {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                    font-size: 2.5vw;
                    font-family: 'Times New Roman', Times, serif;
                    font-style: italic;
                    color: darkred;
                }

                &.main__performances__performance__grid__description {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    text-align: center;
                    font-size: 1.5vw;
                    font-family: Arial, Helvetica, sans-serif;
                    font-style: italic;
                    color: #333333;
                }
    
                &.main__performances__performance__grid__author-before,
                &.main__performances__performance__grid__director-before,
                &.main__performances__performance__grid__painter-before,
                &.main__performances__performance__grid__duration-before,
                &.main__performances__performance__grid__price-before {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 1.6vw;
                    font-style: italic;
                    color: #444444;
                }

                &.main__performances__performance__grid__author,
                &.main__performances__performance__grid__director,
                &.main__performances__performance__grid__painter,
                &.main__performances__performance__grid__duration,
                &.main__performances__performance__grid__price {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 1.6vw;
                    font-weight: bold;
                    color: black;
                }

                &.main__performances__performance__grid__date {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    font-size: 2vw;
                    text-align: center;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    color: darkred;
                }
            }

            button {
                grid-column-start: 1;
                grid-column-end: 3;
                align-self: center;
                padding: 0.5vw 2vw;
            }
        }
    }

    hr.main__performances__separator {
        height: 0.3vw;
        background-color: #444444;
    }
}

@media (max-width: 768px) {
    main section.main__performances {
        margin: 25px 15px;
        
        article.main__performances__performance {
            flex-flow: column nowrap;
            margin: 12px 6px;
            padding: 12px 0;
            
            figure {
                flex: 1 1 fit-content;

                img {
                    height: 250px;
                    width: auto;
                }
            }

            div.main__performances__performance__grid {
                margin: 8px 20px;

                p, button {
                    margin: 7px;
                }

                p {
                    &.main__performances__performance__grid__name {
                        font-size: 30px;
                    }

                    &.main__performances__performance__grid__description {
                        font-size: 17px;
                    }
        
                    &.main__performances__performance__grid__author-before,
                    &.main__performances__performance__grid__director-before,
                    &.main__performances__performance__grid__painter-before,
                    &.main__performances__performance__grid__duration-before,
                    &.main__performances__performance__grid__price-before,
                    &.main__performances__performance__grid__author,
                    &.main__performances__performance__grid__director,
                    &.main__performances__performance__grid__painter,
                    &.main__performances__performance__grid__duration,
                    &.main__performances__performance__grid__price {
                        font-size: 17px;
                    }

                    &.main__performances__performance__grid__date {
                        font-size: 27px;
                    }
                }

                button {
                    padding: 5px 10px;
                }
            }
        }

        hr.main__performances__separator {
            height: 3px;
        }
    }
}