* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header nav > ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #333333;
}
header nav > ul.menu input[type=checkbox]#menu__show-menu {
  display: none;
}
header nav > ul.menu li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10vw;
          flex: 1 1 10vw;
  display: block;
  height: 4vw;
  background-color: #333333;
  border-style: solid;
  border-width: 0.2vw 0.1vw;
  border-color: #444444;
}
header nav > ul.menu li.menu__button-to-show-menu {
  display: none;
}
header nav > ul.menu li a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 4vw;
}
header nav > ul.menu li.menu__page-link a {
  padding: 1vw;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  line-height: 2vw;
  color: white;
  text-decoration: none;
}
header nav > ul.menu li.menu__page-link a.you-are-here {
  background-color: darkred;
  color: #AAAAAA;
}
header nav > ul.menu li.menu__page-link a.you-are-here:hover {
  text-decoration: none;
}
header nav > ul.menu li.menu__page-link a:hover {
  background-color: #A00000;
  text-decoration: underline;
}
header nav > ul.menu li.menu__logo a {
  height: 100%;
  background-image: url("../../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

h1.main__heading {
  margin: 1vw;
  padding: 1vw;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5vw;
  font-size: 3vw;
  color: darkred;
}

hr.main__heading-line {
  margin: 0 auto;
  width: 25vw;
  height: 0;
  border-width: 0;
  -webkit-box-shadow: 0 0 0.2vw 0.1vw darkred;
          box-shadow: 0 0 0.2vw 0.1vw darkred;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 1.5vw;
  background-color: #333333;
  color: white;
}
footer figure {
  margin: 0 1vw;
  text-align: center;
}
footer figure img {
  width: 10vw;
}
footer p {
  padding: 0 1vw;
  text-align: center;
  font-style: italic;
  font-size: 1.4vw;
  font-family: "Times New Roman", Times, serif;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    position: relative;
  }
  header nav > ul.menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav > ul.menu li {
    height: 8vw;
    border-width: 0.3vw;
  }
  header nav > ul.menu li.menu__button-to-show-menu {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  header nav > ul.menu li.menu__button-to-show-menu label {
    cursor: pointer;
    display: block;
    height: 100%;
    background-image: url("../../images/menu_button_hidden.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  header nav > ul.menu li.menu__page-link {
    display: none;
  }
  header nav > ul.menu li.menu__page-link a {
    height: 8vw;
    padding: 2vw;
    font-size: 3.5vw;
    line-height: 4vw;
  }
  header nav > ul.menu li.menu__logo {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  header nav > ul.menu input[type=checkbox]#menu__show-menu:checked ~ li.menu__page-link {
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header nav > ul.menu input[type=checkbox]#menu__show-menu:checked ~ li.menu__button-to-show-menu label {
    background-image: url("../../images/menu_button_shown.svg");
  }

  h1.main__heading {
    margin: 2vw;
    font-size: 7vw;
  }

  hr.main__heading-line {
    width: 50vw;
    -webkit-box-shadow: 0 0 0.4vw 0.2vw darkred;
            box-shadow: 0 0 0.4vw 0.2vw darkred;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 2vw 1vw;
  }
  footer figure {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer figure img {
    width: 15vw;
  }
  footer p {
    padding: 1.5vw 1vw;
    font-size: 3vw;
  }
}
@media (max-width: 767px) {
  header {
    position: relative;
  }
  header nav > ul.menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header nav > ul.menu li {
    height: 12vw;
    border-width: 0.3vw 0.3vw;
  }
  header nav > ul.menu li.menu__button-to-show-menu {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  header nav > ul.menu li.menu__button-to-show-menu label {
    cursor: pointer;
    display: block;
    height: 100%;
    background-image: url("../../images/menu_button_hidden.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  header nav > ul.menu li.menu__page-link {
    display: none;
  }
  header nav > ul.menu li.menu__page-link a {
    height: 12vw;
    padding: 3vw;
    font-size: 5.5vw;
    line-height: 6vw;
  }
  header nav > ul.menu li.menu__logo {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  header nav > ul.menu input[type=checkbox]#menu__show-menu:checked ~ li.menu__page-link {
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  header nav > ul.menu input[type=checkbox]#menu__show-menu:checked ~ li.menu__button-to-show-menu label {
    background-image: url("../../images/menu_button_shown.svg");
  }

  h1.main__heading {
    margin: 4vw;
    font-size: 10vw;
  }

  hr.main__heading-line {
    width: 60vw;
    -webkit-box-shadow: 0 0 0.5vw 0.3vw darkred;
            box-shadow: 0 0 0.5vw 0.3vw darkred;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 4vw 1vw;
  }
  footer figure {
    margin: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  footer figure img {
    width: 30vw;
  }
  footer p {
    padding: 2vw 1vw;
    font-size: 5vw;
  }
}