figure.gallery {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
figure.gallery > button.gallery__next-button, figure.gallery > button.gallery__prev-button {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 2vw;
  line-height: 6vw;
  margin-top: -5vw;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 3.5vw;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
figure.gallery > button.gallery__next-button:hover, figure.gallery > button.gallery__prev-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
figure.gallery > button.gallery__prev-button {
  border-radius: 0 2vw 2vw 0;
  left: 0;
}
figure.gallery > button.gallery__next-button {
  border-radius: 2vw 0 0 2vw;
  right: 0;
}

main > h1 {
  margin: 0;
  border-style: solid none;
  border-width: 0.6vw;
  border-color: #550000;
  padding: 0.7vw 15vw;
  background-color: darkred;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vw;
  letter-spacing: 0.1vw;
  color: white;
}
main section {
  margin: 3vw 10vw;
}
main section#main__about-us-section a#main__about-us__link-to-history, main section#main__news-section a#main__news-section__link-to-news, main section#main__performances-section > a#main__performances-section__link-to-performances {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5vw solid #660000;
  border-radius: 10vw;
  background-color: darkred;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  cursor: pointer;
}
main section#main__about-us-section a#main__about-us__link-to-history:hover, main section#main__news-section a#main__news-section__link-to-news:hover, main section#main__performances-section > a#main__performances-section__link-to-performances:hover {
  background-color: #A00000;
  text-decoration: underline;
}
main section#main__performances-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main section#main__performances-section > a.main__performances-section__performance-block {
  display: block;
  margin: 2vw;
  padding: 1vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  max-width: 25vw;
  text-align: center;
  border: 0.3vw solid lightgrey;
  border-radius: 1vw;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  text-decoration: none;
}
main section#main__performances-section > a.main__performances-section__performance-block:hover {
  background-color: lightyellow;
  -webkit-box-shadow: 0 0 0.5vw 0.5vw slateblue;
          box-shadow: 0 0 0.5vw 0.5vw slateblue;
}
main section#main__performances-section > a.main__performances-section__performance-block:hover img {
  width: 80%;
}
main section#main__performances-section > a.main__performances-section__performance-block img {
  width: 60%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__name {
  display: block;
  margin: 1vw;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 2vw;
  color: darkred;
}
main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__author {
  margin: 1vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
}
main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__description {
  margin: 2vw 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-style: italic;
  color: #333333;
}
main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__date {
  margin: 2vw 1vw 1vw 1vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: darkred;
}
main section#main__performances-section > a#main__performances-section__link-to-performances {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  padding: 1vw;
  font-style: italic;
}
main section#main__news-section article.news-block {
  margin: 2vw;
  padding: 2vw;
  border: 0.2vw solid lightgray;
  border-radius: 1vw;
  -webkit-box-shadow: inset 0 0 0.4vw 0.4vw darkred;
          box-shadow: inset 0 0 0.4vw 0.4vw darkred;
}
main section#main__news-section article.news-block figure {
  margin: 0 0 0 2vw;
  float: right;
  text-align: center;
}
main section#main__news-section article.news-block figure img {
  max-width: 15vw;
}
main section#main__news-section article.news-block p {
  margin: 1vw;
  text-indent: 3vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  font-size: 1.5vw;
  color: black;
}
main section#main__news-section article.news-block p.news-block__title {
  margin-bottom: 2vw;
  text-indent: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  text-transform: uppercase;
  color: darkred;
}
main section#main__news-section article.news-block p.news-block__date {
  clear: both;
  margin: 1.7vw;
  text-align: right;
  text-decoration: overline;
  font-size: 1.7vw;
  color: #444444;
}
main section#main__news-section a#main__news-section__link-to-news {
  display: block;
  padding: 1vw;
  font-style: italic;
}
main section#main__about-us-section figure {
  margin: 1.5vw;
  text-align: center;
}
main section#main__about-us-section figure img {
  max-height: 30vw;
}
main section#main__about-us-section h2.main__about-us__title {
  margin: 1.5vw;
  text-align: center;
  font-size: 2.7vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: darkred;
}
main section#main__about-us-section article.main__about-us__article {
  margin: 2vw;
}
main section#main__about-us-section article.main__about-us__article p {
  margin: 1vw 0;
  text-indent: 3vw;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5vw;
  color: black;
}
main section#main__about-us-section a#main__about-us__link-to-history {
  display: block;
  padding: 1vw;
  font-style: italic;
}

@media (max-width: 800px) {
  figure.gallery {
    height: 300px;
  }
  figure.gallery > button.gallery__prev-button, figure.gallery > button.gallery__next-button {
    padding: 20px;
    line-height: 40px;
    margin-top: -40px;
    font-size: 25px;
  }
  figure.gallery > button.gallery__prev-button {
    border-radius: 0 15px 15px 0;
  }
  figure.gallery > button.gallery__next-button {
    border-radius: 15px 0 0 15px;
  }

  main > h1 {
    border-width: 6px;
    padding: 6px 10px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
  }
  main section {
    margin: 25px 20px;
  }
  main section#main__performances-section > a#main__performances-section__link-to-performances, main section#main__news-section a#main__news-section__link-to-news, main section#main__about-us-section a#main__about-us__link-to-history {
    border-width: 5px;
    border-radius: 100px;
    font-size: 25px;
  }
  main section#main__performances-section > a.main__performances-section__performance-block {
    margin: 15px;
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    max-width: 230px;
    border-width: 0.3vw;
    border-radius: 1vw;
  }
  main section#main__performances-section > a.main__performances-section__performance-block:hover {
    -webkit-box-shadow: 0 0 5px 5px slateblue;
            box-shadow: 0 0 5px 5px slateblue;
  }
  main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__name {
    margin: 10px;
    font-size: 30px;
  }
  main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__author {
    margin: 10px;
    font-size: 18px;
  }
  main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__description {
    margin: 20px 10px;
    font-size: 18px;
  }
  main section#main__performances-section > a.main__performances-section__performance-block p.main__performances-section__performance-block__date {
    margin: 20px 10px 10px 10px;
    font-size: 22px;
  }
  main section#main__performances-section > a#main__performances-section__link-to-performances {
    padding: 10px;
  }
  main section#main__news-section article.news-block {
    margin: 20px 10px;
    padding: 15px;
    border-width: 3px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px 5px darkred;
            box-shadow: inset 0 0 5px 5px darkred;
  }
  main section#main__news-section article.news-block figure {
    margin: 10px;
    float: none;
  }
  main section#main__news-section article.news-block figure img {
    max-width: 60%;
  }
  main section#main__news-section article.news-block p {
    margin: 10px;
    text-indent: 25px;
    font-size: 20px;
  }
  main section#main__news-section article.news-block p.news-block__title {
    margin-bottom: 20px;
    font-size: 25px;
  }
  main section#main__news-section article.news-block p.news-block__date {
    margin: 30px 10px 10px 10px;
    font-size: 25px;
  }
  main section#main__news-section a#main__news-section__link-to-news {
    padding: 10px;
  }
  main section#main__about-us-section figure {
    margin: 10px;
  }
  main section#main__about-us-section figure img {
    width: 80%;
    max-height: none;
  }
  main section#main__about-us-section h2.main__about-us__title {
    margin: 20px;
    font-size: 25px;
  }
  main section#main__about-us-section article.main__about-us__article {
    margin: 20px;
  }
  main section#main__about-us-section article.main__about-us__article p {
    margin: 10px;
    text-indent: 25px;
    font-size: 20px;
  }
  main section#main__about-us-section a#main__about-us__link-to-history {
    padding: 10px;
  }
}