main section.main__news {
  margin: 3vw 10vw;
}
main section.main__news article.news-block {
  margin: 3vw 1vw;
  padding: 1vw;
  border: 0.8vw outset;
}
main section.main__news article.news-block:nth-of-type(even) {
  border-color: brown;
}
main section.main__news article.news-block:nth-of-type(odd) {
  border-color: cornflowerblue;
}
main section.main__news article.news-block figure {
  margin: 0 0 1vw 2vw;
  float: right;
  text-align: center;
}
main section.main__news article.news-block figure img {
  width: 15vw;
}
main section.main__news article.news-block p {
  margin: 1vw;
  text-indent: 3vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  font-size: 1.5vw;
  color: black;
}
main section.main__news article.news-block p.news-block__title {
  margin-bottom: 2vw;
  text-indent: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5vw;
  font-weight: bold;
  text-transform: uppercase;
  color: darkred;
}
main section.main__news article.news-block p.news-block__date {
  clear: both;
  margin: 1.7vw;
  text-align: right;
  text-decoration: overline;
  font-size: 1.7vw;
  color: #444444;
}

@media (max-width: 800px) {
  main section.main__news {
    margin: 25px 10px;
  }
  main section.main__news article.news-block {
    margin: 25px 10px;
    padding: 10px;
    border-width: 5px;
  }
  main section.main__news article.news-block figure {
    margin: 10px;
    float: none;
  }
  main section.main__news article.news-block figure img {
    width: 60%;
  }
  main section.main__news article.news-block p {
    margin: 10px;
    text-indent: 25px;
    font-size: 20px;
  }
  main section.main__news article.news-block p.news-block__title {
    margin-bottom: 20px;
    font-size: 25px;
  }
  main section.main__news article.news-block p.news-block__date {
    margin: 30px 10px 10px 10px;
    font-size: 25px;
  }
}