main section.main__performances {
  margin: 3vw 10vw;
}
main section.main__performances article.main__performances__performance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: -3vw 1vw 1vw 1vw;
  padding: 5vw 1vw 1vw 1vw;
}
main section.main__performances article.main__performances__performance figure {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin: 1.5vw;
  text-align: center;
}
main section.main__performances article.main__performances__performance figure img {
  width: 20vw;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 250px;
          flex: 2 1 250px;
  display: inline-block;
  margin: 1vw 2vw;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "name name" "desc desc" "authb auth" "dirb dir" "paintb paint" "durb dur" "priceb price" "date date" "buy-a-ticket buy-a-ticket";
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid button {
  margin: 0.65vw;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  text-align: center;
  font-size: 2.5vw;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: darkred;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc;
  text-align: center;
  font-size: 1.5vw;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #333333;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__author-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__director-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__painter-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__duration-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__price-before {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6vw;
  font-style: italic;
  color: #444444;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__author, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__director, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__painter, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__duration, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__price {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.6vw;
  font-weight: bold;
  color: black;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__author-before {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: authb;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__author {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: auth;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__director-before {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: dirb;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__director {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: dir;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__painter-before {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: paintb;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__painter {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: paint;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__duration-before {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: durb;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__duration {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: dur;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__price-before {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: priceb;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__price {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: price;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__date {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: date;
  font-size: 2vw;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkred;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid button {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: buy-a-ticket;
  -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5vw 2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0.5vw solid #660000;
  border-radius: 10vw;
  background-color: darkred;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  cursor: pointer;
}
main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid button:hover {
  background-color: #A00000;
  text-decoration: underline;
}
main section.main__performances hr.main__performances__separator {
  height: 0.3vw;
  background-color: #444444;
}

@media (max-width: 800px) {
  main section.main__performances {
    margin: 25px 10px;
  }
  main section.main__performances article.main__performances__performance {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 12px 6px;
    padding: 12px 0;
  }
  main section.main__performances article.main__performances__performance figure {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 fit-content;
            flex: 1 1 fit-content;
  }
  main section.main__performances article.main__performances__performance figure img {
    height: 250px;
    width: auto;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info {
    margin: 8px 20px;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid button {
    margin: 7px;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__name {
    font-size: 30px;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__description {
    font-size: 17px;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__author-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__director-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__painter-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__duration-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__price-before, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__author, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__director, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__painter, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__duration, main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__price {
    font-size: 17px;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid p.main__performances__performance__info__grid__date {
    font-size: 27px;
  }
  main section.main__performances article.main__performances__performance div.main__performances__performance__info div.main__performances__performance__info__grid button {
    padding: 5px 10px;
    border-width: 4px;
    border-radius: 100px;
    font-size: 20px;
  }
  main section.main__performances hr.main__performances__separator {
    height: 3px;
    background-color: #444444;
  }
}