main section.main__troupe {
  margin: 3vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
main section.main__troupe figure {
  margin: 2vw;
  width: 14vw;
  background-color: darkred;
  border: 0.3vw outset darkred;
}
main section.main__troupe figure img {
  display: block;
  height: 20vw;
  width: 14vw;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main section.main__troupe figure figcaption {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5vw;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
}

@media (max-width: 800px) {
  main section.main__troupe {
    margin: 25px 10px;
  }
  main section.main__troupe figure {
    margin: 20px;
    width: 170px;
    border-width: 5px;
  }
  main section.main__troupe figure img {
    height: 220px;
    width: 170px;
  }
  main section.main__troupe figure figcaption {
    padding: 5px;
    font-size: 20px;
  }
}