main h1 {
    margin: 30px;

    padding: 10px 200px;
    background-color: white;

    border-style: solid none;
    border-width: 10px;
    border-color: darkred;
    border-radius: 5px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: darkred;
}

section.performances {
    margin: 30px 100px;
}
section.performances > div {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
    padding: 10px;
}
div.performance img {
    display: block;
    margin: 30px;
    width: 20%;
    min-width: 150px;
    max-width: 250px;
    height: fit-content;
}
div.performance div.about {
    display: grid;
    grid-template-areas: "name name"
                         "desc desc"
                         "authb auth"
                         "prodb prod"
                         "paintb paint"
                         "durb dur"
                         "date date"
                         "buy-a-ticket buy-a-ticket";
    margin: 30px;
}
div.performance cite.name {
    display: block;
    grid-area: name;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: darkred;
}
div.performance p,
div.performance button {
    margin: 12px;
}
div.performance p.description {
    grid-area: desc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: italic;
    color: #333333;
}
div.performance p.author-before,
div.performance p.producer-before,
div.performance p.painter-before,
div.performance p.duration-before {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: italic;
    color: #444444;
}
div.performance p.author,
div.performance p.producer,
div.performance p.painter,
div.performance p.duration {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
}
div.performance p.author-before {
    grid-area: authb;
}
div.performance p.producer-before {
    grid-area: prodb;
}
div.performance p.painter-before {
    grid-area: paintb;
}
div.performance p.duration-before {
    grid-area: durb;
}
div.performance p.author {
    grid-area: auth;
}
div.performance p.producer {
    grid-area: prod;
}
div.performance p.painter {
    grid-area: paint;
}
div.performance p.duration {
    grid-area: dur;
}
div.performance p.date {
    grid-area: date;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}
div.performance button {
    grid-area: buy-a-ticket;
}